<% @page_title = "Delete Product Line" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="lines delete">
  <h2>Delete Product Line</h2>

  <%= form_for(:line, :url => {:action => 'destroy', :id => @line.id}) do |f| %>

    <p>Are you sure you want to permanently delete this product line?</p>

    <p class="reference-name"><%= @line.name %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Product Line") %>
    </div>

  <% end %>
</div>
