<% @page_title = "Edit Product" %>

<%= link_to("<< Back to List", {:action => 'index', :line_id => @line.id}, :class => 'back-link') %>

<div class="products edit">
  <h2>Update Product</h2>

  <%= form_for(:product, :url => {:action => 'update', :id => @product.id, :line_id => @line.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Product") %>
    </div>

  <% end %>
</div>
