<% @page_title = "New Product" %>

<%= link_to("<< Back to Product List", {:action => 'index', :line_id => @line.id}, :class => 'back-link') %>

<div class="products new">
  <h2>Create Product</h2>

  <%= form_for(:product, :url => {:action => 'create', :line_id => @line.id}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Product") %>
    </div>

  <% end %>
</div>
