%nav.navbar.navbar-default{:role => "navigation"}
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{:href => "#"} Brand
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			%ul.nav.navbar-nav
				%li.active
					%a{:href => "#"} About
				%li.dropdown
					%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
						Products
						%span.caret
					%ul.dropdown-menu.lmenu{:role => "menu"}
						%li.lmenuitem.center=image_tag ("drlauranne.png")
						- lines.each do |line|
							%li.lmenuitem{:class => "c_" + line.color}
								.lname= link_to_unless_current(line.name, line_path(line))
								.ldescription= link_to_unless_current(line.description, line_path(line))