!!!
%html
  %head
    %title
      Bellezza Naturale | #{@page_title || "Admin"}
    = stylesheet_link_tag('application', :media => 'all')
  %body
    #header
      %h1 Bellezza Admin
    #main
      - if !flash[:notice].blank?
        .notice
          = flash[:notice]
      #content
        = yield
    #footer
      %p#copyright &#169; bellezza.io
